.Board {
  align-items: center;
  flex-direction: column;
  display: flex;
  min-width: 350px;
  max-height: 600px;
  margin: 10px;
  overflow-y: auto;
  width: 350px;
  background-color: #341948;
  border-radius: 10px;
}
.Board_title {
  min-height: 70px;
  height: 70px;
  min-width: 100%;
  box-shadow: #555;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  border-bottom: 5px dotted #9388A2;
  position:relative;
  color: #9388A2;
  font-size: x-large;

}
.Board_title > svg {
  cursor: pointer;
  color: #9388A2;
}

.Board_title .deleteBox{
  display: visible;
  position: absolute;
  font-size:medium !important;
  color: black;
  background-color:#9388A2;
  top: 10;
  right:10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
  width: 70px;
  height: 30px;
}
.Board_title .deleteBoxHide{
  display: none;
}
.card_board {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* width */
.Board::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
}

/* Track */
.Board::-webkit-scrollbar-track-piece {
  background: #341948;
}
/* Handle */
.Board::-webkit-scrollbar-thumb-piece {
  background: rgb(194, 194, 194);
}

/* Handle on hover */
.Board::-webkit-scrollbar-thumb:hover {
  background: #555;
}
